#heading {
    margin-top: 20px;
    font-size: 100px;
    text-align: center;
}

#player {
    margin-top: 20px;
    font-size: 45px;
    text-align: center;
}

#winner {
    margin-top: 10px;
    text-align: center;
}

.col-4 {
    background-color: black;
    width: 100px;
    height: 100px;
    margin: 10px 0 0 10px;
    color: white;
    font-size: 60px;
    text-align: center;
    padding-top: 5px;
}

.container {
    max-width: 350px;
    margin-top: 50px;
}
